h1 {
    color: black !important;
}
a:hover {
    color: black !important;
    text-decoration: none !important;
}
.dropdownContainer {
    padding: none;
    max-width: 1920px;
    max-height: 200px;
    border-style: solid;
    border-width: 5px;
}
#playlistLink {
    font-size: 20px;
    display: block;
    margin-bottom: 20px;
    color: grey;
}
.selectSpan {
    display: block;
}
.dropdownSelect {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    text-align: center;
}
section {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: static;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
}
@media all and (max-width: 1710px;) {
    section {
        width: 1710px;
    }
}
@media screen and (max-width: 1710px) {
    section {
        width: 1100px;
    }
}
@media screen and (max-width: 1110px) {
    section {
        width: 550px;
    }
}
/* Smartphones (portrait and landscape) */
@media only screen and (max-width : 510px) {
    #header {
        height: 170px;
    }
    #header div h1, #header div p {
        font-size: 20px;
    }






}