body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
}

#home {
    height: 160px;
    background-color: #31e2d9;
    width: 100%;
    overflow: hidden;
}

#header-home-content {
    display: inline-block;
    color: white;
    margin-left: 25px;
    float: left;
}
#header-home-title {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
}
#reduced {
    height: 95px;
    background-color: #31e2d9;
    width: 100%;
    overflow: hidden;
    position: fixed;
}
#header-home-title-reduced {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}



.selector { /*year box selector*/
   width: 65px;
   height: 50px;
   padding: 0;
   background: transparent;
   border: 3px solid white;
   margin-left: 150px;
   margin-top: 20px;
   border-radius: 6px;
   -webkit-transition: all .5s ease;
   transition: all .5s ease;
}

/*select thingy itself*/
.selector select {
  overflow: visible;
  text-transform: uppercase;
  padding: 0px 5px; /*moves year inside selector*/
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: white;
  font: inherit;
  line-height: normal;
  font-weight: bold;
  font-size: 22px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 6px;
}

.selector select option {
  font-size: 30px;
  background-color: #4CCFC8;
  color: white;
}

/*when hovering selector*/
.selector:hover {
  background-color: white;
}

/*changes text when hovering*/
.selector select:hover {
    color: #4CCFC8;
}

#embedly {
    display: inline-block;
    float: right;
    margin-top: 57px;
    margin-right: 25px;
}
.hidden {
    display: none;
}

h1 {
    color: black !important;
}
a:hover {
    color: black !important;
    text-decoration: none !important;
}

section {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: static;
    overflow: hidden;
    padding-left: 15px;
    padding-top: 180px;
}
.loading {
    -webkit-animation: barberpole 0.5s linear infinite;
    -moz-animation: barberpole 0.5s linear infinite;
    -o-animation: barberpole 0.5s linear infinite;
    animation: barberpole 0.5s linear infinite;

    background-size: 30px 30px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)) !important;
}

@-webkit-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-moz-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-o-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}
.video-container {
    width: 500px;
    height: 400px;
    float: left;
    margin: 12px;
    background-position: 0px -50px;
    background-repeat: none;
}

iframe {
    height: 300px;
    width: 500px;
    border-radius: 6px 6px 0 0;
}
.video {
    height: 300px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    cursor: pointer;
}

@-webkit-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-moz-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@-o-keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 60px 30px;
  }
}
.video-text-container {
    height: 100px;
    max-height: 100px;
    width: 500px;
    display: flex;
/*  flex-direction: column;*/
    align-items: center;
/*  justify-content: cener;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white !important;
}
.video-text {
    margin: 0 auto;
    font-size: 20px;
}

@media all and (max-width: 1710px;) {
    section {
        width: 1710px;
    }
}
@media screen and (max-width: 1710px) {
    section {
        width: 1100px;
    }
}
@media screen and (max-width: 1110px) {
    section {
        width: 550px;
    }
}
/* Smartphones (portrait and landscape) */
@media only screen and (max-width : 510px) {
    section {
        width: 300px;
    }

    #header {
        height: 170px;
    }
    #header div h1, #header div p  {
        font-size: 20px;
    }
    .inputContainer {
        height: 215px;
        width: 300px;
        margin-top: 40px;
    }
    #yearText {
        font-size: 30px;
        text-align: center;
    }
    #indexForm {
        height: 500px;
        width: 370px;
        margin: 0 auto;
    }
    .video-container {
        width: 300px;
        height: 300px;
        float: left;
        margin: 10px;
        margin-left: -15px;
    }
    .video {
        height: 200px;
        width: 300px;
        background-size: 300px 200px;
    }
    .video-text-container {
        height: 85px;
        max-height: 100px;
        max-width: 500px;
        width: 300px;
        display: flex;
    /*  flex-direction: column;*/
        align-items: center;
    /*  justify-content: cener;*/
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .video-text {
        margin: 0 auto;
        font-size: 13px;
    }
    iframe {
        width: 300px;
        height: 200px;
        /*float: left;*/
        border-radius: 6px 6px 0 0;
    }

}
