.card {
    width: 400px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 250px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 6px;
}

.card-body {
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

.card-step-1 {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.card-selector {
    width: 132px;
    height: 58px;
    padding: 0;
    background: transparent;
    background-color: #1bc1b8;
    margin: 0 auto;
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 20px;
}

.card-selector select {
    overflow: visible;
    text-transform: uppercase;
    padding: 16px 32px;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    cursor: pointer;
    color: white;
    /* font: inherit; */
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.card-selector select option {
    /* font-size: 20px; */
    background-color: #00fff1;
    color: white;
}

.card-selector:hover {
    background-color: #00fff1;
}

.card-selector select:hover {
    color: white;
}
.card-step-1, .card-selector {
    text-align: center;
    font-weight: bold;
}

.card-step-1 {
    color: #777;
}

/* Smartphones (portrait and landscape) */
@media only screen and (max-width : 510px) {
    .card {
      width: 290px;
    }

}

/* button styles */

.butn {
  overflow: visible;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: transparent;
  width: 128.88px;
  font: inherit;
  font-weight: bold;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #4CCFC8;
  border: 2px solid #1bc1b8;
  border-radius: 6px;
  margin-bottom: 16px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.butn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.butn--stripe {
  overflow: hidden;
  position: relative;
}
.butn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(45deg, #1bc1b8, #1bc1b8 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(45deg, #1bc1b8, #1bc1b8 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #1bc1b8;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.butn--stripe:hover {
  background-color: #1bc1b8;
  color: white;
  border-color: #1bc1b8;
}
.butn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid white;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}
@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}