#reduced {
    height: 100px;
    background-color: #31e2d9;
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

#header-home-title-reduced {
    font-weight: bold;
    font-size: 25px;
    margin-top: 16px;
}
/* selector from year page */
.selector {
    width: 75px;
    height: 50px;
    padding: 0;
    background: transparent;
    border: 3px solid white;
    margin-left: 24px;
    margin-top: 24px;
    border-radius: 6px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.selector select {
    overflow: visible;
    text-transform: uppercase;
    /* padding: 0px 5px; */
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: white;
    font: inherit;
    line-height: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 6px;
}
.selector select option {
    font-size: 30px;
    background-color: #4CCFC8;
    color: white;
}
.selector:hover {
    background-color: white;
}
.selector select:hover {
    color: #4CCFC8;
}
.hidden {
    display: none;
}
#open-now-playing {
    display: none;
    font-weight: bold;
}
.animation-bounce {
    animation-name: bounce;
    animation-duration: 1s;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(5px);
    }
    70%{
        transform: translateY(-25px);
    }
    80%{
        transform: translateY(2px);
    }
    90%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
.animation-zoom {
    animation: zoomInOut 1s ease-in-out infinite;
}
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}